/* =========================
   MENU GRID
========================= */

.menu-grid-section {
  padding: 80px 5%;
  background: #fff8f3;
}

.menu-filter {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-bottom: 50px;
}

.menu-filter button {
  border: none;
  cursor: pointer;

  background: white;

  padding: 14px 24px;

  border-radius: 50px;

  font-weight: 600;

  transition: 0.3s;
}

.menu-filter button.active {
  background: #ff6b00;
  color: white;
}

.menu-grid {
  max-width: 1300px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.menu-card {
  background: white;

  border-radius: 25px;

  overflow: hidden;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-8px);
}

.menu-image {
  height: 280px;
  overflow: hidden;
}

.menu-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 0.4s;
}

.menu-card:hover .menu-image img {
  transform: scale(1.08);
}

.menu-content {
  padding: 25px;
}

.menu-content h3 {
  margin-bottom: 12px;
}

.menu-rating {
  color: #ff6b00;
  margin-bottom: 20px;
}

.menu-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bottom span {
  color: #ff6b00;

  font-size: 1.4rem;
  font-weight: 700;
}

.menu-bottom button {
  border: none;
  cursor: pointer;

  background: #ff6b00;
  color: white;

  padding: 12px 22px;

  border-radius: 50px;

  font-weight: 600;
}

@media (max-width: 992px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .menu-grid {
    grid-template-columns: 1fr;
  }

  .menu-filter {
    flex-wrap: wrap;
  }
}