.quick-actions {
  background: white;

  padding: 20px;

  border-radius: 16px;

  box-shadow:
    0 4px 15px rgba(0,0,0,0.08);
}

.quick-actions button {
  width: 100%;

  border: none;

  margin-top: 10px;

  padding: 12px;

  border-radius: 10px;

  background: #f97316;
  color: white;

  cursor: pointer;
}